body {
  width: 1440px;
  height: 8818px;
  top: -1398px;
  left: -877px;
  gap: 0px;
  opacity: 0px;
  background: #020617;
  }

.navbar{
  width: Fixed (1,104px)px;
  height: Fixed (80px)px;
  top: 62px;
  left: 168px;
  padding: 10px 20px 10px 20px;
  gap: 0px;
  border-radius: 48px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  justify-content: space-between;
  opacity: 0px;
  border: 1px solid;
  border-image-source: linear-gradient(122.35deg, rgba(255, 255, 255, 0.21) 19.78%, rgba(255, 255, 255, 0) 187.39%);
  }

 .backedby{
  width: 571.09px;
  height: 164.38px;
  top: 744px;
  left: 437.45px;
  gap: 0px;
  opacity: 0px;
 }

.Product_suite{
width: 1192.62px;
height: 1027.83px;
top: 3157px;
left: 135.84px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
opacity: 0px;
}

.Header{
width: 944px;
height: 356px;
top: 298px;
left: 248px;
gap: 0px;
opacity: 0px;
}

.bg_pattern{
width: 1510.45px;
height: 644.84px;
top: 171px;
left: -30px;
gap: 0px;
opacity: 0px;
background-color:#020617;
}

.project_suite{
width: 1192.62px;
height: 1027.83px;
top: 3157px;
left: 135.84px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
opacity: 0px;
}

.cta{
  width: 1440px;
height: 868px;
top: 7950px;
gap: 0px;
opacity: 0px;
}

.Section2_growth_and_stats{
  width: 1264px;
height: 446px;
top: 2566px;
left: 88px;
gap: 0px;
opacity: 0px;
/*Brand Color/UI Violet*/
border: 1px solid;

border-image-source: linear-gradient(124.13deg, #FFFFFF -86.83%, rgba(255, 255, 255, 0) 70.2%);


}

.Blog_section{
width: 1264px;
height: 628px;
top: 4843px;
left: 88px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
.Join_discord{
  width: 1278px;
height: 844.25px;
top: 6332px;
left: 82px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
opacity: 0px;
/*Brand Color/UI Violet Dark*/
}

.LYNC{
  width: 944px;
height: 212px;
top: 1004px;
left: 248px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid;

border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 6.2%, #FFFFFF 54.5%, rgba(255, 255, 255, 0) 89.56%);

}

.Compny_group{
  width: 1104px;
height: 372px;
top: 1306px;
left: 168px;
gap: 0px;
opacity: 0px;

}

.section1{
  width: 1306.03px;
  height: 877.97px;
  top: 1809px;
  left: 168px;
  gap: 0px;
  opacity: 0px;
  
}

.section4{
  width: 1262px;
  height: 523px;
  top: 4176px;
  left: 81px;
  gap: 0px;
  opacity: 0px;
  
}

.reviews{
  width: 1264px;
  height: 571px;
  top: 5616px;
  left: 96px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  
}
.believer{
  width: 1262px;
  height: 436px;
  top: 7322px;
  left: 88px;
  gap: 0px;
  opacity: 0px;
  
}
.grid1{
  width: 1579px;
  height: 4585px;
  top: 6944px;
  left: -69px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #DADDD8;
  border: 1px solid #FFFFFF33
  
}
.grid2{
  width: 1440px;
  height: 6950px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #FFFFFF33  
}
.background1{
  width: 1893.56px;
  height: 1156.23px;
  top: -929px;
  left: -234px;
  gap: 0px;
  opacity: 0px;
  
}
.background2{
  width: 1107.29px;
  height: 648.21px;
  top: 2627.83px;
  left: 1264.83px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
  /*angle: 179.36 deg;*/
  background: #6F00DD99;

}
.background3{
  width: 1101.21px;
  height: 534.95px;
  top: 1663.04px;
  left: 1262.8px;
  gap: 0px;
  opacity: 0px;
  /*rotation: 179.36 deg;*/
  background: #6F00DD99;
  
}

.group3{
  width: 3189.73px;
  height: 7085.88px;
  top: 5826px;
  left: 89.96px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0.6px;
  /*angle: -15 deg;*/
  border: 1px solid #FFFFFF33
}


